version: "3.9"

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    image: jenkins-prod:1.0
    #container_name: jenkins-prod
    restart: unless-stopped

    ports:
      - "8080:8080"
      - "50000:50000"

    environment:
      JAVA_OPTS: "-Djenkins.install.runSetupWizard=false"

    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    user: root

volumes:
  jenkins_home:
