version: "3.9"

services:
  backend:
    build:
      context: ./api
    container_name: test-prod-backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 5000
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./client
    container_name: test-prod-frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
